html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
    display: flex;
    min-height: 100%;
}

.header, .footer {
    min-height: 120px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #00F7FF;
    color: white;
}

.footer {
    margin-top: auto;
}

.header .text, .footer .text {
    margin-right: 10px;
}

.side-bar {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    min-width: 160px;
    min-height: 100%;
    background-color: #00F7FF;
    
}

.side-bar div {
    padding: 30px 0px;
    border: 3px solid rgb(148, 229, 234);
    width: 70%;
    border-radius: 20px;
    background-color: #FF7DB0;
}

.content {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    flex: 1;
    background-color: #B0FFFA;
}

.top-item-container,  .bottom-item-container {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    min-width: 100%;
}


.bottom-item-container {
    
 }

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;

    padding: 10px;
    min-width: 400px;
    min-height: 400px;
    background-color: thistle;
    
    border: 2px solid #FF7DB0;
    margin: 20px;
    border-radius: 20px;
}


.search-bar {
    display: flex;
    align-self: center;

    padding: 10px;
    border: 2px solid white;
}