body, html {
    font-family: 'Courier New', Courier, monospace;

    height: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;

    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100%;
}

.header, .footer {
    min-height: 120px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: rgb(59, 52, 48);
    color: white;
}


.header .text, .footer .text {
    margin-right: 10px;
}

.side-bar {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    min-width: 160px;
    height: 100%;
    background-color: orange;


}

.side-bar div {
    padding: 30px 0px;
    border: 10px solid rgb(255, 128, 0);
    width: 70%;
    border-radius: 20px;
    background-color: red;
}

.content {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    flex: 1;
    background-color: rgb(255, 98, 0);
}

.top-item-container,  .bottom-item-container {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}


.bottom-item-container {
    
 }

.item {
    padding: 10px;
    width: 400px;
    height: 200px;
    background-color: thistle;
    
    border: 4px solid salmon;
    margin: 20px;
    border-radius: 10px;
}


.search-bar {
    display: flex;
    align-self: center;

    padding: 10px;
    border: 2px solid white;
}